@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-dark: #0A1E2D;
    --color-dark-2: #1165B4;
    --color-gradient-start: #46A6FF;
    --color-gradient-end: #020C12;
    --font-main: Kode Mono, monospace;
    --font-common: Lexend, sans-serif;
}

@layer base {
    * {
        @apply text-white font-common font-normal transition-colors duration-150 z-1;
        @apply border border-red-700;
    }
    main {
        @apply flex flex-col items-center pt-[76px] gap-[calc(100vh-76px)] bg-linear-to-b from-gradient-start to-gradient-end;
    }
    h2 {
        @apply font-main font-bold text-3xl uppercase text-center;
    }
    h3 {
        @apply font-bold text-xl;
    }
}

@layer components {
    .section {
        @apply flex flex-col w-2/3 gap-4 pt-10 min-h-[calc(100vh-76px)];
    }
    .btn {
        @apply  w-fit px-4 py-2 text-center rounded-full bg-white text-dark font-medium transition-colors duration-150 hover:text-dark-2!
    }
    .card {
        @apply flex flex-col p-4 gap-2 rounded-xl border border-dark-2;
    }
}