@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-main : rgb( 11, 159, 101);
    --color-light : rgb( 253, 255, 248);
    --font-main: Lexend, sans-serif;
}

@layer base {
    
}