---
import "/src/styles/global.css";

import Facebook from "../assets/facebook.svg";
import Instagram from "../assets/instagram.svg";
import X from "../assets/x.svg";
---

<footer class="section gap-12 justify-center items-center">
  <h2 class="text-6xl">Whaller</h2>
  <p>
    Whaller, l’outil qui vous permet de détecter les fréquences parasites et de
    garder vos outils numériques intactes.
  </p>
  <div class="h-px w-1/3 bg-white"></div>
  <div class="flex gap-16">
    <Facebook />
    <Instagram/>
    <X/>
  </div>
  <a class="text-gray-400 text-sm text-center" href="/">Mentions légales</a>
  <p class="text-gray-400 text-sm text-center">© 2025 Whaller - Exploration sécurisée des radiofréquences</p>
</footer>
