---
import "/src/styles/global.css";
---

<header
  class="fixed top-0 left-0 z-10 w-full flex justify-between px-8 py-4 bg-dark"
>
  <a href="/" class="inline-block -mt-1">
    <h1
      class="font-main font-bold uppercase text-4xl inline-block transition duration-150 ease-out transform hover:scale-105 hover:text-cyan-300 cursor-pointer"
    >
      Whaller
    </h1>
  </a>

  <nav
    class="flex gap-4 items-center text-xl *:hover:text-cyan-300 *:px-4 *:py-2"
  >
    <a href="/">Fonctionnalités</a>
    <a href="/">Tarif</a>
    <a href="/">Doc</a>
    <a href="/" class="btn">Commander</a>
  </nav>
</header>
